ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
center()
  display flex
  justify-content center
  align-items center
leftcenter()
  display flex
  justify-content flex-end
  align-items center
spacebetween()
  display flex
  justify-content space-between
  align-items center
font1()
  font-family FZShuSong-Z01S