ellipsis()
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
center()
  display flex
  justify-content center
  align-items center
rightcenter()
  display flex
  justify-content flex-end
  align-items center
leftcenter()
  display flex
  justify-content flex-start
  align-items center
spacebetween()
  display flex
  justify-content space-between
  align-items center
font1()
  font-family FZShuSong-Z01S
font2()
  font-family FZQingKeBenYueSongS-R-GB
font3()
  font-family FZZhengHeiS-EL-GB
// 移动端使用默认字体，pc用下载的字体
normalFont()
  font-family Heiti SC, Droid Sans Fallback, Microsoft YaHei Light, Microsoft YaHei
filled()
  width 100%
  height 100%
colorBlue()
  color #7190a9
$Gray = #f2f2f2
