@font-face {
  font-family: 'webfont1';
  font-display: swap;
  src: url('./webfont/FZQKBYSJW.eot'); /* IE9 */
  src: url('./webfont/FZQKBYSJW.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./webfont/FZQKBYSJW.woff2') format('woff2'),
    url('./webfont/FZQKBYSJW.woff') format('woff'),
    /* chrome、firefox */ url('./webfont/FZQKBYSJW.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./webfont/FZQKBYSJW.svg#webfont') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'webfont2';
  font-display: swap;
  src: url('./webfont/font/2/webfont.eot'); /* IE9 */
  src: url('./webfont/font/2/webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./webfont/font/2/webfont.woff2') format('woff2'),
    url('./webfont/font/2/webfont.woff') format('woff'),
    /* chrome、firefox */ url('./webfont/font/2/webfont.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./webfont/font/2/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
@font-face {
  font-family: 'webfont3';
  font-display: swap;
  src: url('./webfont/font/3/webfont.eot'); /* IE9 */
  src: url('./webfont/font/3/webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./webfont/font/3/webfont.woff2') format('woff2'),
    url('./webfont/font/3/webfont.woff') format('woff'),
    /* chrome、firefox */ url('./webfont/font/3/webfont.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./webfont/font/3/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
@font-face {
  font-family: 'webfont4';
  font-display: swap;
  src: url('./webfont/webfont4.eot'); /* IE9 */
  src: url('./webfont/webfont4.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./webfont/webfont4.woff2') format('woff2'),
    url('./webfont/webfont4.woff') format('woff'),
    /* chrome、firefox */ url('./webfont/webfont4.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./webfont/webfont4.svg#webfont') format('svg'); /* iOS 4.1- */
}
@font-face {
  font-family: 'webfont5';
  font-display: swap;
  src: url('./webfont/4/webfont.eot'); /* IE9 */
  src: url('./webfont/4/webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./webfont/4/webfont.woff2') format('woff2'),
    url('./webfont/4/webfont.woff') format('woff'),
    /* chrome、firefox */ url('./webfont/4/webfont.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./webfont/4/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
.web-font1 {
  font-family: 'webfont1' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.web-font2 {
  font-family: 'webfont2' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.web-font3 {
  font-family: 'webfont3' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.web-font4 {
  font-family: 'webfont4' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.web-font5 {
  font-family: 'webfont5' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'webfont11';
  font-display: swap;
  src: url('./webfont/font/8/webfont.eot'); /* IE9 */
  src: url('./webfont/font/8/webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./webfont/font/8/webfont.woff2') format('woff2'),
    url('./webfont/font/8/webfont.woff') format('woff'),
    /* chrome、firefox */ url('./webfont/font/8/webfont.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./webfont/font/8/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

.web-font11 {
  font-family: 'webfont11' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
